    body {
        background-color: #000;
        background-image: url("netflixBg.jpg");
        font-family: 'Helvetica Neue', Helvetica, Arial sans-serif;
    }
    
    .hidden {
        display: none;
    }
    
    section {
        position: relative;
        margin: 100px auto;
        display: block;
        background-color: rgba(0, 0, 0, .75);
        width: 450px;
        padding: 60px 68px 40px;
    }
    
    .login {
        width: 100%;
        background-color: rgb(51, 51, 51);
        border: 0;
        padding: 15px;
        margin: 10px;
    }
    
    .login::placeholder {
        color: #8c8c8c;
        font-size: 1rem;
    }
    
    .login__button {
        display: inline-block;
        color: #fff;
        background-color: #e50914;
        border-radius: 5px;
        min-width: 98px;
        min-height: 20px;
        vertical-align: middle;
        cursor: pointer;
        text-align: center;
        border: 0;
        box-sizing: content-box;
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        margin: 10px;
    }
    
    h1 {
        font-size: 24px;
        color: #fff;
        font-weight: bold;
        margin: 0 0 20px 10px;
    }
    
    a {
        position: absolute;
        right: 27px;
        text-decoration: none;
        display: inline-block;
        float: right;
        margin: 0;
        border: 0;
        color: #b3b3b3;
    }
    
    .check__rememberMe {
        margin-left: 10px;
        color: #b3b3b3
    }
    
    .teste:hover {
        background-color: blue;
    }